

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    /* border: 1px solid red; */
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
}

.left-child{
    width: 50%;
    height: 100vh;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.logo{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 150px;
}

.logo img{
    width: 30%;
}

.left-child h1{
    text-align: center;
    font-size: 40px;
}

.left-child p{
    text-align: center;
    color: rgb(194, 194, 194);
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 20px;
}

.left-child span{
    width: 300px;
    height: 60px;
    background-color: rgb(240, 240, 242);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 10px;
}

.left-child span button{
    background-color: white;
    height: 50px;
    width: 145px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 550;
    color: black;
}

#btn{
    background-color: rgb(240, 240, 242);
    color: rgb(128, 128, 128);
}

.input-container{
    width: 300px;
    height: 50px;
    border: 1px solid rgb(212, 212, 212);
    display: flex;
    align-items: center;
    justify-content: start;
    border-radius: 10px;
}

.input-container i{
    padding-inline: 20px;
}

#p1{
    font-size: 35px;
    font-weight: 200;
    padding-top: 15px;
}

.input-container input{
    border: none;
    padding-left: 20px;
}

.left-child button{ 
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 10px;
    margin-block: 20px;
    background-color: rgb(0, 102, 255);
    font-size: 18px;
    color: white;
}

.parent-line{
    width: 100%;
    height: 1px;
    display: flex;
    align-items: center;justify-content: center;
    flex-direction: row;
    margin-block: 20px;
}

.line{
    width: 100px;
    height: 1px;
    border: 1px solid rgb(220, 211, 211);
    /* padding-inline-end: 10px; */
}

.icon{
    padding-block: 20px;
    width: 200px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.icon i{
    /* padding-left: 20px; */
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.icon i:first-child{
    color: blue;
}

.icon i:nth-child(2){
    color: white;
    background-color: black;
}

.icon i:last-child{
    color: white;
    background-color: blue;
}

.paragraph p{
    font-size: 16px;
    padding-top: 100px;
}

.right-child{
    width: 50%;
    height: 100vh;
    background-image: url(./Smartsafe.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* responsive */

@media (max-width:768px) {
    .container{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .left-child{
        width: 100%;

    }

    .right-child{
        width: 100%;
    }
}